<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.runtime.remoting>
        <application>
            <client>
                <wellknown
                        type="Common.IServer, Common"
                        url="tcp://localhost:9000/Server/ChatServer" />
                
            </client>
        </application>
    </system.runtime.remoting>
</configuration>